In [2]:
# IMPORTA BIBLIOTECAS E LE A PLANILHA

import pandas as pd
import openpyxl

pd.read_excel("eleicao_vereador_2016_spa.xlsx")
eleicao_2024 = pd.read_excel("eleicao_vereador_2024_spa.xlsx")

In [3]:
# REALIZA A VERIFICAÇÃO TOTAL DE VOTOS DA ELEIÇÃO

total_votos = eleicao_2024['qt_votos'].sum()
total_votos

np.int64(56216)

In [4]:
# Criação de um dicionário para armazenar os resultados
resultados = {}

# Loop sobre cada valor único em nr_votavel
for nr in eleicao_2024['nr_votavel'].unique():
    soma_votos = eleicao_2024[eleicao_2024['nr_votavel'] == nr]['qt_votos'].sum()
    resultados[nr] = soma_votos

# Convertendo o dicionário para um DataFrame
resultado_df = pd.DataFrame(list(resultados.items()), columns=['nr_votavel', 'total_votos'])
resultado_df

     nr_votavel  total_votos
0         55123           99
1         77000          268
2         70123          123
3         77677          678
4         45999          889
..          ...          ...
205       10244            7
206       55300            1
207       27373            5
208       35035            1
209       35456            4

[210 rows x 2 columns]

In [5]:
# FILTRO CANDIDATO

candidato_x = resultado_df[resultado_df['nr_votavel'] == 22333]
candidato_x

    nr_votavel  total_votos
39       22333         2081

In [6]:
# prompt: quero pegar os 10 mais votados na tabela eleicao_vereador_2024_spa.xlsx

# Ordena o DataFrame pela coluna 'total_votos' em ordem decrescente e pega os 10 primeiros
top_10 = resultado_df.sort_values('total_votos', ascending=False).head(7)

print(top_10)

     nr_votavel  total_votos
39        22333         2081
21        10000         1866
15        15565         1752
32        11333         1724
25        77022         1708
134       10789         1550
8            95         1396