In [1]:
# IMPORTA BIBLIOTECAS E LE A PLANILHA

import pandas as pd
import openpyxl

pd.read_excel("eleicao_vereador_2020_spa.xlsx")
eleicao_2020 = pd.read_excel("eleicao_vereador_2020_spa.xlsx")

In [2]:
# REALIZA A VERIFICAÇÃO TOTAL DE VOTOS DA ELEIÇÃO

total_votos = eleicao_2020['qt_votos'].sum()
total_votos

np.int64(48943)

In [3]:
# Criação de um dicionário para armazenar os resultados
resultados = {}

# Loop sobre cada valor único em nr_votavel
for nr in eleicao_2020['nr_votavel'].unique():
    soma_votos = eleicao_2020[eleicao_2020['nr_votavel'] == nr]['qt_votos'].sum()
    resultados[nr] = soma_votos

# Convertendo o dicionário para um DataFrame
resultado_df = pd.DataFrame(list(resultados.items()), columns=['nr_votavel', 'total_votos'])
resultado_df

     nr_votavel  total_votos
0         19333          461
1         23999          450
2         45443          126
3         77200          848
4         19000           40
..          ...          ...
330       23157            3
331       28225            6
332       51193            1
333       25455            2
334       11113            2

[335 rows x 2 columns]

In [4]:
# FILTRO CANDIDATO

candidato_x = resultado_df[resultado_df['nr_votavel'] == 77000]
candidato_x

    nr_votavel  total_votos
13       77000         1394

In [6]:
# prompt: quero pegar os 10 mais votados na tabela eleicao_vereador_2020_spa.xlsx

# Ordena o DataFrame pela coluna 'total_votos' em ordem decrescente e pega os 10 primeiros
top_10 = resultado_df.sort_values('total_votos', ascending=False).head(12)

print(top_10)

     nr_votavel  total_votos
74           96         1785
25           95         1657
13        77000         1394
137       11123         1062
32        12345         1038
9         10555          931
48        77444          901
144       77456          884
7         22565          858
3         77200          848
30        22999          810
87        11111          807